<!DOCTYPE html>
<html>
    <head>
        <title>Song Ranker</title>
    </head>
    <body>
        <h1>Song Ranker</h1>

        {% if failed %}
            <p>Something went wrong. Try again.</p>
            {% endif %}
        <form action = "/start" method = "post">
            <label>Enter the name of artist/band</label>
            <input type="text" name="artist"><br><br>
            <label>Enter the name of an album</label>
            <input type="text" name="album">
            <input type="submit" name="submit">
        </form>
    </body>
<html>