<!DOCTYPE html>
<html>
    <head>
        <title>{{session.artist}}-{{session.album}}</title>
    </head>
    <body>
        <h1>Ranking {{session.artist}}'s songs from {{session.album}}</h1>
        <form action="/rank" method="post">
            <label>{{title}}</label><br>
            <button type="submit" name="choice" value="great">Great</button>
            <button type="submit" name="choice" value="mid">Mid</button>
            <button type="submit" name="choice" value="bad">Bad</button>
        </form> 
    </body>
</html>